.boardContainer {
  height: 100vh;
  background-image: url(../../images/poker-table.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.boardContainer div {
  border: 1px solid black;
}

.box-hand-1 {
  background-color: blue;
  flex: 0 0 25%;
  width: 60%;
}

.box-hand-2 {
  background-color: red;
  flex: 0 0 25%;
  width: 60%;
}

.box-pot {
  background-color: green;
  flex: 0 0 10%;
  width: 10%;
}

.box-action-buttons {
  background-color: white;
  flex: 0 0 15%;
  width: 15%;
  margin: 5px;
  align-self: flex-start;
  display: inherit;
  flex-direction: inherit;
}
